---
layout: layouts/base.njk
---
{%- css %}
/* Only include the syntax highlighter CSS on blog posts */
{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
{% include "static/assets/css/prism-diff.css" %}
{%- endcss %}

<article>
{{ content | safe }}
</article>
